.dropdown-menu {
	min-width: 90px;
}

.badge.badge-danger {
	background-color: #d2322d;
}

.resident-ok.panel {
	margin-bottom: 10px;
}
.resident-ok>.panel-heading {
	padding: 5px 15px;
}

.resident-ok .panel-title {
	font-size: 12px;
}

.resident-ok.btn {
	margin: 5px 3px;
	background-color: #D7EBCE;
	border-color: #d6e9c6;
	font-size: 17px;
	color: #777;
}

span.glyphicon-user {
	margin-right: 5px;
}

.panel-title>.btn {
	display: inline-block;
	margin: -8px;
	float: right;
}

/* Patient stats graph overlay */
.stats {
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border-radius: 4px;
}
.stats>div {
	padding: 5px 10px;
}

.stats h1 {
	font-size: 14px;
	margin: 0;
}
.stats .update-time {
	font-size: 10px;
}

.stats .axis path,
.stats .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.stats .x.axis path {
  display: none;
}

.stats .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* CNA / RA Team Selection Page */
.nurse.btn {
	margin: 5px 3px;
}


.panel-body .info {
	display: block;
	text-align: center;
	color: #CCC;
	font-size: 11px;
}