<!-- Left Panel -->
<div class="col-xs-6 col-sm-3">
   <h4>
    Team: 
  <div class="btn-group">

    <button type="button" class="btn btn-default">{{teams[0]}}</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="team in teams">
        <a href="#">{{team}}</a></li>
      <li class="divider"></li>
      <li><a href="#">Manage Teams</a></li>
    </ul>
  </div> 
  </h4>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">All Clear</h3>
    </div>
  </div>

  <button type="button" class="resident-ok btn btn-success btn-lg" ng-repeat="resident in residents"  tooltip="{{resident.name}}" >
    <span class="glyphicon glyphicon-user"></span>
  </button>  
</div>

<!-- Center Panel -->
<div class="col-xs-6 col-sm-3">
  <h4>
    Team: 
  <div class="btn-group">

    <button type="button" class="btn btn-default">{{teams[1]}}</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="team in teams">
        <a href="#">{{team}}</a></li>
      <li class="divider"></li>
      <li><a href="#">Manage Teams</a></li>
    </ul>
  </div> 
  </h4>

  <!--<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">All Clear</h3>
    </div>
  </div>
-->
  <!--
  <div class="resident-danger panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Marge T.<button class="btn btn-danger">Handle</button></h3></h3>
    </div>
    <div class="panel-body">
      Temperature warning
      <span class="timer">00:12</span>
    </div>
  </div>
-->
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Marge T. <span style="float: right; display:inline-block"><span class="ion-medkit"></span> Greta A.</span></h3>
    </div>
    <div class="panel-body">
      Temperature warning
      <span class="timer">00:04</span>
    </div>
  </div>


  <button type="button" class="resident-ok btn btn-success btn-lg" ng-repeat="resident in residents2" tooltip="{{resident.name}}" >
    <span class="glyphicon glyphicon-user"></span>
  </button>  
</div> 

<!-- Right Panel -->
<div class="col-xs-6 col-sm-3">
  <h4>
    Team: 
  <div class="btn-group">

    <button type="button" class="btn btn-default">{{teams[2]}}</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="team in teams">
        <a href="#">{{team}}</a></li>
      <li class="divider"></li>
      <li><a href="#">Manage Teams</a></li>
    </ul>
  </div> 
  </h4>



  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">All Clear</h3>
    </div>
  </div>

  <button type="button" class="resident-ok btn btn-success btn-lg" ng-repeat="resident in residents3" tooltip="{{resident.name}}" >
    <span class="glyphicon glyphicon-user"></span>
  </button>  
</div>

<div class="stats">
  <div>
    <h1>Thomas Howitt</h1>
    <span class="update-time">Last Update: 3 minutes ago</span>
  </div>
</div>