<button type="button" class="btn btn-lg btn-default">New Team</button>
<div class="col-xs-6 col-sm-3">

	<div class="panel panel-danger">
		<div class="panel-heading">
		      <h3 class="panel-title">Unassigned</h3>
		    </div> 

		<div class="panel-body">
			<button class="nurse btn btn-{{member.onDuty ? 'primary' : 'default'}}" 
			 ng-click="member.onDuty=!member.onDuty"

			ui-draggable="true" drag="member" 
                    on-drop-success="dropSuccessHandler($event, $index)"
                    ng-repeat="member in cnas track by $index">{{member.name}}</button>
		</div>
	</div>
	 

	<div class="panel panel-info" 
		ui-on-Drop="onDrop($event,$data,team.members)" ng-repeat="team in teams">
		<div class="panel-heading">
		  <h3 class="panel-title">{{team.name}}</h3>
		</div> 

	  <div class="panel-body">
	  	<button ng-click="member.onDuty=!member.onDuty" class="nurse btn btn-{{member.onDuty ? 'primary' : 'default'}}" ng-repeat="member in team.members">{{member.name}}</button>
	  </div>
	</div>

</div>


