<button type="button" class="btn btn-lg btn-default"><span class="ion-plus"></span> New Team</button>
<div class="col-xs-6 col-sm-3">

	<div class="panel panel-danger">
		<div class="panel-heading">
		      <h3 class="panel-title">Unassigned CNAs</h3>
		    </div> 

		<div class="panel-body">
			<button class="nurse btn btn-{{member.onDuty ? 'primary' : 'default'}}" 
			 ng-click="toggleOnDuty(member)"

			ui-draggable="true" drag="member" 
                    on-drop-success="dropSuccessHandler($event, $index)"
                    ng-repeat="member in cnas track by $index"><span class="ion-medkit"></span> {{member.name}}</button>
		</div>
	</div>
	 

	<div class="panel panel-info" 
		ui-on-Drop="onDrop($event,$data,team.members)" ng-repeat="team in teams track by $index">
		<div class="panel-heading">
		  <h3 class="panel-title"><span class="ion-medkit"></span> {{team.name}} <span style="display:inline-block; float: right">(Assigned to Floor 1, Wing {{['A', 'B', 'C'][$index]}})</span></h3>
		</div> 

	  <div class="panel-body">
	  	<button ng-click="toggleOnDuty(member)" class="nurse btn btn-{{member.onDuty ? 'primary' : 'default'}}" ng-repeat="member in team.members"><span class="ion-medkit"></span> {{member.name}}</button>
	  </div>
	</div>

</div>


